{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
  <h1>{{ movie.title }}</h1>

  <p>
    {{ movie.overview }}
  </p>
  <form action="/movies/{{movie.id}}/ratings">
    <p>Choose a rating:</p>
      <select name="movie-rating" id="rating"> 
        <option value="1">1</option> 
        <option value="2">2</option> 
        <option value="3">3</option> 
        <option value="4">4</option> 
        <option value="5">5</option> 
      </select>
      <input type="submit">
  </form>
  <img src="{{ movie.poster_path }}">
{% endblock %}